<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51a38dc8613f5d7c63000012');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>